.login-block {
  margin: auto;
  width: 75%;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 50px;
  text-align: center;
}

.alert-box {
  margin-left: 20px;
  margin-right: 20px;
}

.btn-div {
  text-align: center;
}

.btn-width {
  width: 50%;
}

form > div {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}

input {
  width: 50%;
}

label {
  padding-right: 5px;
}
